.containers{
    display: flex;
    width: auto;
}

.others{
    flex: 4;
    
}

.register-btn{
    margin-left: 1050px;
    margin-top: 20px;
    display: flex;
   
    
}

.Button{
    margin-top: 40px;
}