.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #211a23;
    position: sticky;
    top: 50px;
    z-index: 999;
    
   
   
} 

.sidebarWrapper{
    padding: 20px;
    color: #ffc107;
}

.sidebarMenu{
    margin-bottom: 20px;

}

.sidebarList{
    list-style: none;
    padding: 10px;
}

.sidebarListItem{
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem:hover{
    background-color: lightslategray;
}